    body {
        background-image: url(spotiby/style/3652782.jpg);
    }
    
    hr {
        color: rgb(0, 0, 0);
    }
    
    h2 {
        color: rgb(0, 0, 0);
    }
    
    details {
        color: rgb(102, 100, 100);
        font-style: italic;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    h2 {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    p {
        color: rgb(102, 100, 100);
    }
    
    a :visited {
        color: purple;
    }
    
    a :link {
        color: rgb(7, 235, 252);
        text-decoration: none;
    }