html {
    font-family: 'Roboto', sans-serif;
}

header {
    display: inline-block;
    width: 100%;
    /*Posiciona itens internos na mesma linha*/
    justify-content: space-between;
    /*Coloca um espaço jogando cada um para um canto de forma centralizada*/
    align-items: center;
    display: flex;
    /*Modo de display flexível*/
    flex-direction: row;
    /*Posicionamento dos itens dentro desta div, é em ROW, ou seja, Linha*/
    background-color: rgb(60, 60, 60, 0.5);
}

header img {
    width: 50px;
}

.left {
    display: flex;
    /*Modo de display flexível*/
    flex-direction: row;
    /*Posicionamento dos itens dentro desta div, é em ROW, ou seja, Linha*/
    margin-left: 50px;
}

.right {
    display: flex;
    right: 0;
    padding-right: 0;
    margin-right: 3px;
    justify-content: space-between;
}

a {
    padding-right: 20px;
    padding-left: 20px;
    text-decoration: none;
    color: #232323;
}

a:hover {
    color: rgb(24, 255, 166);
    transition: 200ms;
}

.x:hover {
    color: #232323;
}

body {
    margin: 0;
}

body {
    background-image: url(3625482.jpg);
    width: 100%;
}

h1 {
    color: #232323;
    text-align: center;
    width: 500px;
    font-size: 70px;
    margin-top: 190px;
    margin-left: 400px;
    margin-right: 200px;
}

.iu {
    text-align: center;
    margin-right: 50px;
    margin-left: 15px;
    font-size: 20px;
    margin-top: -30px;
    color: #232323;
}

.miau {
    background-color: #4caf8e;
    /* Verde */
    border: none;
    color: #232323;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 100px;
    width: 300px;
    margin-left: 478px;
    margin-right: 200px;
    margin-top: 20px;
    transition: 200ms;
}

.miau:hover {
    background-color: #ffffff;
}
